@font-face {
  font-family: PressStart2P;
  src: url('../assets/fonts/PressStart2P-Regular.ttf');
}

body {
  margin: 0;
  font-family: PressStart2P;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wallet-adapter-button,
.wallet-adapter-modal-title {
  font-family: PressStart2P !important;
}